#corpo
{
    background-color: #272727;
}
#cabecalho
{
    color:#29f3c3;
    font-size: large;
}
body
{
    font-family: 'Chakra Petch', sans-serif;
    color:#29f3c3;
}
img 
{
    border-radius: 50%;
}
#barraesquerda
{
    border-width: thin;
    border:#29f3c3;
    border-right: solid;
}
#brancofonte
{
    color: white;
    font-size: large;
}

#brancobold
{
    color: white;
    font-size: large;
    font-weight: bold;
    transition: color 0.6s linear;
}
#brancobold:hover
{
    color:#29f3c3;
}
#informacoes
{
    color: white;
    font-size: large;
    transition: color 0.6s linear;
}
#informacoes:hover
{
    color:#29f3c3;
}
.informacoes
{
    color: white;
    font-size: large;
    transition: color 0.6s linear;
}
.informacoes:hover
{
    color:#29f3c3;
}

.border-button 
{
    border-bottom: solid 5px #29f3c3;
    transition: border-width 0.6s linear;
}
  
.border-button:hover 
{ 
    border-width: 10px; 
}
#titulocorpo
{
    font-weight: bold;
}
#subtitulocorpo
{
    margin-bottom: 2px;
    border-bottom:  solid 2px #29f3c3;
    font-weight: lighter;
    font-size: medium;
}
#textocorpo
{
    font-size: small;
}
#itemlinks
{
    display: flex;
    justify-content: center;
    transition: border-width 0.6s linear;
    border-bottom: solid 2px #29f3c3;
}
#itemlinks:hover
{
    border-width: 5px;
}
.efeito{
    border-left: 0px #29f3c400 solid;
    transition: border-left 2s linear;
}
.efeito:hover{
    border-left: 15px #29f3c400 solid;
}
.miniefeito{
    border-left: 0px #29f3c400 solid;
    transition: border-left 1s linear;
}
.miniefeito:hover{
    border-left: 5px #29f3c400 solid;
}